version:             '3'

services:

    # Data Store.
    ${CNTR_DATASTORE}:
        image: mongo
        env_file:          ${ENV_FILE}
        build:
            context:       .
            dockerfile:    ${DOCKER_FILE_DATASTORE}
        volumes:
            - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}


    # Store environment.
    ${CNTR_STORE}:
        env_file:        ${ENV_FILE}
        build:
          context:       .
          dockerfile:    ${DOCKER_FILE_STORE}
        ports:
            - "${API_PORT}:${API_PORT}"
        volumes:
            - ${SHARED_FOLDER_DEV}:${CNTR_FOLDER_DEV}
        command:         python3 src/store.py
